.about-section {
    margin-top: -2cm;
    padding: 20% 8%;
    /* background: #0b0b0f; */
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}


.about-container {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    align-items: center;
    gap: 50px;
}


.about-image img {
    width: 100%;
    height: 9cm;
    max-width: 320px;
    border-radius: 50%;
    display: block;
    margin: auto;
    box-shadow: 0 0 25px rgba(139, 92, 246, 0.6),
        0 0 45px rgba(139, 92, 246, 0.3);
}


.about-content h2 {
    font-size: 38px;
    margin-bottom: 35px;
    font-weight: 600;
}

.about-content h2 span {
    color: #8b5cf6;
}


.about-content p {
    color: #cfcfcf;
    line-height: 1.6;
    margin-bottom: 15px;
    font-size: 20px;
}


.about-tags {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.about-tags p {
    padding: 8px 15px;
    border-radius: 8px;

    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.12);
    color: #d7c4ff;
    font-size: 16px;

    backdrop-filter: blur(10px);
    transition: 0.3s ease;
}

.about-tags p:hover {
    background: rgba(139, 92, 246, 0.3);
    border-color: rgba(139, 92, 246, 0.6);
    color: #fff;
}
