    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 40px;
      position: fixed;
      width: 100%;
      height: 2.5cm;
      z-index: 990;
      background: rgba(255,255,255,0.03);
      backdrop-filter: blur(8px);
    }

    .header .logo {
      font-size: 38px;
      font-weight: bold;
      color: #8339B3;
    }

    .header nav ul {
      display: flex;

      list-style: none;
      gap: 30px;
      font-size: 20px;
      transition: color 0.3s;
      cursor: pointer;
    }

    .header nav ul  :hover {
      color: #8339B3;
    }

    a{
      text-decoration: none;
      color: #fff;
}

