.skills-section {
    padding: 50px 0;
    text-align: center;
    color: #fff;
}

.skills-section .title {
    font-size: 32px;
}

.skills-section .title span {
    color: #a020f0; 
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 150%; 
    margin: 0 0 100px 0px;  
    transform: translateX(-15%); 
}

.skill-card {
    
    background: #0d0d0d;
    border: 1px solid #2a2a2a;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s ease;
    cursor: pointer;
}

.skill-card:hover {
    transform: translateY(-8px);
    border-color: #a020f0;
    box-shadow: 0 0 20px rgba(160, 32, 240, 0.4);
}

.skill-card i {
    font-size: 35px;
    color: #a020f0;
    margin-bottom: 10px;
}

.skill-card p {
    margin-top: 5px;
    font-size: 16px;
}
