    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Times New Roman', Times, serif;
      scroll-behavior: smooth;
    }

   
    body {
      background-color: #0b0b0f;
      color: #fff;
    }

